html,
body{
  width: 100%;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  .col-sm-2 {
    width: 25%;
  }
}

.back{
    background: #f8f8f8;
    border: 3px dashed #f0f0f0;
    border-radius: 5px;
    width: 100%;
    margin: 0px 0;
    padding: 75px 5px;
    outline: none;
    cursor: pointer;
}

.back:hover{
    border:3px dashed skyblue;
}

body, html {
  height: 100%;
}

.circular-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circular-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 0 auto; /* Center the element horizontally */
    margin-top: 100px;
    margin-bottom: 0px;
  }

.circular-progress-bar .alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-progress-bar .CircularProgressbar-path {
  stroke: #007bff;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 282.6;
  stroke-dashoffset: 282.6;
  transform-origin: center center; /* set the rotation origin to the center */
  transition: stroke-dashoffset 1.3s ease-out;
  animation: progress-bar 1.3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes progress-bar {
  0% {
    stroke-dashoffset: 282.6;
  }
  100% {
    stroke-dashoffset: (282.6 - (282.6 * value) / 100);
  }
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.image-container img {
  margin-top: 10px;
  border: 2px solid #ccc;
  padding: 1px;
}

.analyze-button {
  margin-top: 45px; /* Adjust this value to the desired margin size */
}