html,
body{
width:100%;
overflow-x:hidden;
}

@media (max-width: 576px) {
  .col-sm-2 {
    width: 25%;
  }
}

.back{
    background: #f8f8f8;
    border: 3px dashed #f0f0f0;
    border-radius: 5px;
    width: 100%;
    margin: 0px 0;
    padding: 75px 5px;
    outline: none;
    cursor: pointer;
}

.dashed-box {
  border: 2px dashed hsl(0, 0%, 91%); /* Adjust the color and thickness of the border as needed */
  padding: 10px; /* Add some padding to create space between the border and the form */
}

.custom-alert {
  border: none;
}

.back:hover{
    border:3px dashed skyblue;
}

.circular-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circular-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    margin: 0 auto; /* Center the element horizontally */
    margin-top: 70px;
    margin-bottom: 0px;
  }

.circular-progress-bar .alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-progress-bar .CircularProgressbar-path {
  stroke: #007bff;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 282.6;
  stroke-dashoffset: 282.6;
  transform-origin: center center; /* set the rotation origin to the center */
  transition: stroke-dashoffset 1.3s ease-out;
  animation: progress-bar 1.3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes progress-bar {
  0% {
    stroke-dashoffset: 282.6;
  }
  100% {
    stroke-dashoffset: (282.6 - (282.6 * value) / 100);
  }
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.image-container img {
  margin-top: 10px;
  border: 2px solid #ccc;
  padding: 1px;
}

.analyze-button {
  margin-top: 40px; /* Adjust this value to the desired margin size */
}

.aqi-gauge-container {
  position: relative;
}
.aqi-gauge-container {
  position: relative;
}

.aqi-gauge-labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  pointer-events: none;
}

.aqi-gauge-label {
  position: flex;
  text-align: center;
  font-weight: bold;
  transform-origin: center bottom;
}

.aqi-gauge-label span {
  display: inline-block;
  line-height: 1.0;
}


.aqi-gauge-label-0 {
  font-size: 9px;
  color: #000;
}

.aqi-gauge-label-1 {
  font-size: 9px;
  transform: translateX(-20%) translateY(-40%);
  color: #000;
}

.aqi-gauge-label-2 {
  font-size: 9px;
  transform: translateX(-25%) translateY(-50%);
  color: #000;
}

.aqi-gauge-label-3 {
  font-size: 9px;
  transform: translateX(0%) translateY(-60%);
  color: #ffffff;
}

.aqi-gauge-label-4 {
  font-size: 9px;
  transform: translateX(5%) translateY(-50%);
  color: #fff;
}

.aqi-gauge-label-5 {
  font-size: 9px;
  transform: translateX(5%) translateY(0%);
  color: #fff;
}

.aqi-gauge-tick-label {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: small;
}

.aqi-gauge-tick-label span {
  display: inline-block;
  line-height: 1.0;
}